header{
    position: relative;
    // background-image: url(../uploads/header_mobile.png);
    width: 100%;
    height: 90px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 9999;
}

header .wrapper{
    display: flex;
    width: 90%;
    height: 80px;
    align-items: center;
}

.header_container{
    width: 100%;
}

.header_logo_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    top: 20px;
    left: 40%;
    right: 40%;
    z-index: 99;
}

.open_nav_btn{
    display: block;
    cursor: pointer;
}

.open_nav_btn span{
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
}

.nav_container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    // background-image: url(../../../../public/uploads/menu_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;
}

.dropdown-menu{
    margin-top: 20px;
}

.dropdown-menu ul li{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    appearance: none;
}

.dropdown-menu ul li a{
    display: block;
    text-align: center;
    font-size: 1.125em;
}

.dropdown-menu ul li i{
    padding-right: 10px;
    font-size: 1.125em;
    color: #23418f;
}

header .form_item i{
    right: 0;
}

header .active_select{
    position: absolute;
    background: white;
    width: 100%;
}

header .active_select_btn{
    border-width: 0;
}


.header_btn_container{
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
}

.header_btn_container .btn_login{
    color: #23418f;
    border-radius: 50%;
    border: 1px solid #23418f;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.header_btn_container .btn_login i,
.current_lang p,
.current_lang i{
    color: #23418f;
    cursor: pointer;
}

.header_btn_container .btn_login p{
    display: none;
}

.active_menu{
    display: flex;
    justify-content: center;
    animation-name: fadeInMenu;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: all .5s;
}

@keyframes fadeInMenu {
    0%{
        left:-100%;
    }
    100%{
        left: 0;
    }
}

