// Buttons

.btn_container {
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
}

.btn {

    &,
    &:link,
    &:visited,
    .wp-block-button__link {
        position: relative;
        display: inline-block;
        min-height: 50px;
        font-family: $heading-font-family;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        padding: 20px 40px;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        transition: all .4s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-primary;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 20px;
    }

    &--blue {
        background-color: $color-primary;
        color: $color-white;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 20px;
    }

    &--inactive {
        background-color: #858585;
        color: $color-white;
        margin-left: auto;
        margin-right: auto;
        pointer-events: none;
    }

    &--apple,
    &--facebook{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        & i {
            color: $color-white;
            margin-right: 20px;
        }
    }

    &--apple {
        background-color: black;
        color: $color-white;
    }


    &--facebook {
        background-color: #3f66af;
        color: $color-white;
    }

    // Brackpoints
    @include breakpoint(tablet) {
        display: flex;
        align-self: stretch;
        font-size: 16px;
        padding: 15px 40px;
    }

    @include breakpoint(mdesktop) {
        min-width: 150px !important;
    }

}

/*TAG BUTTON*/
.tag_scroll {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #de775d;
    color: $color-white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.tag_scroll i {
    color: $color-white;
}