
.flex{
    display: flex;

    &-hcenter{
        justify-content: center;
    }

    &-vcenter{
        align-items: center;
    }

    &__vertical{
        flex-direction: column;

        &-center{
            justify-content: center;
        }
    }

}

.p-relative{
    position:relative !important;
}

.text-center{
    text-align: center !important;
}

.text-left{
    text-align: left !important;
}

.text-bold{
    font-weight: bold !important;
}

.w-100{
    width: 100% !important;
}

@include breakpoint(smobile){
    .ds-hidden{
        display: none !important;
    }
}