@mixin absoluteCentered{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCentered {
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@mixin breakpoint($class) {
    @if $class == smobile {
        @media(max-width:768px){
            @content;
        }
    }

    @else if $class == mobile {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $class == tablet {
        @media (min-width: 992px){
            @content;
        }
    }

    @else if $class == desktop {
        @media (min-width: 1200px){
            @content;
        }
    }

    @else if $class == mdesktop {
        @media (min-width: 1800px){
            @content;
        }
    }

    @else if class == bdesktop {
        @media (min-width: 2000px){
            @content;
        }
    }

    @else {
        @warn "Breackpoint mixin supports: smobile, mobile, tablet, desktop, bdesktop";
    }
}

@mixin imgResponsiveBehavior {
    @include breakpoint(smobile){
        &-mobile{
            display: block;
        }

        &-desktop{
            display: none;
        }
    }

    @include breakpoint(mobile){

        &-mobile{
            display: none;
        }

        &-desktop{
            display: block;
        }
    }
}

@mixin lastZeroMargin {
    &:last-of-type{
        margin-bottom: 0;
        margin-right: 0;
    }
}

@mixin fontAdding($font-name){
    @font-face {
        font-family: $font-name;
        src: url('../fonts/'+$font-name+'.woff') format("woff");
    }
}