
/* Fonts */
@include fontAdding('AxiformaLight');
@include fontAdding('AxiformaSemiBold');

// COLORS

$color-black: #000;
$color-white: white;

$color-primary:#324e96;
$color-dark-gray: #9f9fa0;
$color-light-gray: #f1f1f1;

//Fonts
$default-font-size:1.6rem;

$default-font-family: 'AxiformaLight', serif !important;
$heading-font-family: 'AxiformaSemiBold', sans-serif !important; 

// Margin under headings
$heading-margin-bottom: 3rem !important;
$text-mb-small: 1.5rem !important;
$text-mb-medium: 3rem !important;

// Gutters

$row-gutter-horizontal: 20px;

// Grid

$grid-sides-spaces:20px;

// Header

$header-height: 95px;

// Shadows
$shadow-default: 1px 2px 20px rgba($color-primary, .19)